body {
    margin: 0;
    min-height: 100vh;
    font-family: sans-serif;
    font-size: 18px;
    color: #223;
    background-color: #fafafa;
}

p {
    line-height: 1.5em;
}

* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 60px 1fr auto;
}

button {
    height: 50px;
    padding: 0 50px;
    font-size: 18px;
    color: white;
    background-color: #0094d8;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

header {
    padding: 0 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 150px;
}

nav,
.nav-list {
    display: flex;
}

.nav-list {
    list-style: none;
    column-gap: 2em;
}

.nav-link {
    text-decoration: none;
    color: #223;
}

.nav-link:hover,
.nav-link.active {
    color: #0539e4;
}

.nav-link:hover {
    text-decoration: underline;
}

main {
    padding: 0 5vw;
    max-width: 1000px;
    margin: auto;
}

.hero {
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.hero h1 {
    font-size: 60px;
    font-weight: 900;
    line-height: 1em;
    margin-bottom: 0.3em;
}

.hero p {
    text-align: center;
}

.hero button {
    margin: 0 0.5em;
}

.container {
    width: 90vw;
    margin: auto;
}

#contact-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 50px auto;
    padding: 50px;
    background-color: white;
    border-radius: 8px;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

input {
    height: 50px;
    font-size: 18px;
    padding: 0 0.5em;
    border: 1px solid #0000008a;
}

textarea {
    resize: none;
    font-size: 18px;
    padding: 0.5em;
}

section li {
    margin-bottom: 1.5em;
    line-height: 1.5em;
}

main>h1 {
    margin: 50px 0 70px;
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 200px;
    column-gap: 0.5em;
    row-gap: 0.5em;
}

.img-grid * {
    width: 120%;
    height: 120%;
}

img {
    object-fit: cover;
}

main>section:last-child {
    margin-bottom: 100px;
}

#ai-stats-img {
	width: 80%;
}